body{
    margin: 0px;
}

.background{
    background-image: url(images/background.png);
    background-size: absolute;
    width: 100vw;
    height: 100vh;
    background-repeat: repeat-x;
    overflow-x: hidden;
}
.boy{
    position: absolute;
    margin-top: 347px;
    height: 210px;
}

.block{
    position: absolute;
    background-image: url(images/flame.gif);
    background-size: cover;
    width: 150px;
    height: 280px;
    margin-top: 350px;
}

/*
.container{
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2);
}

h1{
    margin-bottom: 20px;
    color: #333;
}
/*
.level-selection{
    margin-bottom: 20px;
}

label{
    font-size: 18px;
    margin-right: 10px;
}
select{
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#startGameButton{
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#startGameButton:hover {
    background-color: #45a049;

}


.profile-button-container{
    position: fixed;
    display: block;
}

#profile-button{
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 45px;
    margin-left: 1010px;
    padding: 5px 5px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.profile-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;    
}
.profile-dropdown{
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #333;
    color: white;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.profile-dropdown h3{
    margin-top: 10;
}
.profile-dropdown p{
    margin: 5px 10;
}
*/

.ss{
    background-color: transparent;
    height: 60px;
    width: 150px;
    position: absolute;
    margin-top: 35px;
    font-size: 50px;
    margin-left: 15px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    cursor: default;
}

.score{
    font-size: 50px;
    font-weight: bold;
    margin-left: 150px;
    margin-top: 35px;
    position: absolute; 
}

#end{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-image: linear-gradient(90deg,#8E0E00 0%,#1F1C18 100%);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    font-weight: bold;
    color: white;
    font-family: "Broadway";
    visibility: hidden;

}

.btn{
    height: 35px;
    width: 300px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 1000;
    background-color: aqua;
    border: none;
    border-radius: 20px;
}

.btn:hover{
    height: 37px;
    width: 305px;
    background-color: rgb(0, 233, 233);
    cursor: pointer;
    color: rgb(0, 0, 0);
}

/*
#start-screen{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #837bf8;
    padding: 70px;
    border-radius: 30px;
    text-align: center;
}*/



 Game Canvas 
#game,#win{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background: rgba(243, 9, 9, 0.8);
color: white;
padding: 70px;
text-align: center;
border-radius: 40px;

}
  /*
#score-container{
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(14, 9, 9);   
    font-size: 20px;
}
/*
#level-select-container{
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(235, 62, 62);
}


/*display: none;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background: rgba(243, 9, 9, 0.8);
color: white;
padding: 70px;
text-align: center;
border-radius: 40px;
}